body{
margin:0;
padding:0;
font-family: Roboto, sans-serif;
font-weight: 400;
background-color:bisque;
}

h1{
font-family: Lobster, serif;
margin:20px 0 10px 20px;
font-size:3em;
}

h2{
font-family: Roboto, sans-serif;
font-weight:700;
font-size:1.75em;
color:white;
}

#container{
max-width:600px;
min-width:320px;
margin:auto auto;
width:100%;
}

.formBlock{
padding:20px;
margin:0 20px;
background-color:burlywood;
}

#registerUserForm{
display:none;   
}

.label{
font-weight:700;
display:inline-block;
padding-bottom:4px;
}

.labelNote{
font-weight: 300;
padding-bottom:4px;
display:inline-block;
font-size:.9em;
}

.formBlock input[type=text]{
margin-bottom:15px;
width:150px;
font-size:1.1em;
border:0;
padding:4px 6px;
}

.formBlock input[type=submit]{
line-height:1.5em;
padding:4px 6px;
border:0;
font-size:1.5em;
}

.formBlock input[type=submit]:hover{
background-color: aquamarine;
cursor:pointer;
}


#u{
width:95%;    
}

#listNav, #addNav{
display:inline-block;
margin-top:40px;
color:blue;
}

#listNav:hover, #addNav:hover{
text-decoration: underline;
cursor:pointer;
}



#messages{
display:none;
margin-bottom:20px;
background-color:yellow;
padding:5px 5px 0 5px;
}

.msg{
display:block;
padding-bottom:5px;  
}

.origURL{
font-weight:bold;
font-size:.9em;
}

#itemList{
display:none;   
}

.itemListTable{
background-color:white;
width:100%;
font-size:.8em;
padding:5px;
}

.itemListTable td{
border-top:1px dotted black;
word-wrap:break-word;
}

.itemListTable tr th{
text-align: left;
}

.delItemButton{
color:blue;
cursor: pointer;
}

